<header class="header">
  <div class="header__wrapper">
    <a class="header__logo logo" href="main.html">
      <img src="/img/logo.svg" width="179" height="34" alt="Логотип Куплю Продам">
    </a>
    <nav class="header__user-menu">
      <ul class="header__list">
        <li class="header__item">
          <a href="my-tickets.html">Публикации</a>
        </li>
        <li class="header__item">
          <a href="comments.html">Комментарии</a>
        </li>
      </ul>
    </nav>
    <form class="search" method="get" action="#" autocomplete="off">
      <input type="search" name="search" placeholder="Поиск" aria-label="Поиск">
      <div class="search__icon"></div>
      <div class="search__close-btn"></div>
    </form>
    <a class="header__avatar avatar" href="#">
      <img src="/img/avatar.jpg" srcset="/img/avatar@2x.jpg 2x" alt="Аватар пользователя">
    </a>
    <a class="header__input" href="sign-up.html">Вход и регистрация</a>
  </div>
</header>
